[Unit]
Description=Terminal setup
After=network.target mysql.service
Requires=mysql.service

[Service]
User=termgr
Group=termgr
ExecStart=/usr/local/bin/termsetupd

[Install]
WantedBy=multi-user.target
