[Unit]
Description=Terminal manager
PartOf=wsgi-services.target

[Service]
User=termgr
Group=termgr
ExecStart=/usr/local/bin/termgrd

[Install]
WantedBy=wsgi-services.target
